<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context-5.0.2.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--    문제 1번-->
        <bean id = "p1" class = "kr.hs.study.beans.Prob1" lazy-init="true">
            <constructor-arg value="안녕" type="String"/>
            <constructor-arg value="반가워" type="String"/>
        </bean>
    <!--    문제 2번-->
        <bean id = "p2" class="kr.hs.study.beans.Prob2" lazy-init="true">
            <constructor-arg value="1" type="int"/>
            <constructor-arg value="2" type="int"/>
            <constructor-arg value="3" type="int"/>
        </bean>
    <!--    문제 3번-->
        <bean id = "p3" class = "kr.hs.study.beans.Prob3" lazy-init="true">
            <constructor-arg value="1" type="int"/>
            <constructor-arg value="2" type="int"/>
        </bean>
    <!--    문제 4번-->
    <bean id = "p4" class = "kr.hs.study.beans.Prob4" lazy-init="true">
        <constructor-arg value="2" type="int"/>
        <constructor-arg value="3" type="int"/>
        <constructor-arg value="4" type="int"/>
    </bean>
    <!--    문제 5번-->
    <bean id = "p5" class = "kr.hs.study.beans.Prob5" lazy-init="true">
        <constructor-arg value="22" type="int"/>
    </bean>
    <!--    문제 6번-->
    <bean id = "p6" class = "kr.hs.study.beans.Prob6" lazy-init="true">
        <constructor-arg value="3" type="int"/>
        <constructor-arg value="4" type="int"/>
        <constructor-arg value="5" type="int"/>
    </bean>
    <!--    문제 7번-->
    <bean id = "p7" class = "kr.hs.study.beans.Prob7" lazy-init="true">
        <constructor-arg value="100" type="int"/>
        <constructor-arg value="90" type="int"/>
        <constructor-arg value="52" type="int"/>
    </bean>
    <!--    문제 8번-->
    <bean id = "p8" class = "kr.hs.study.beans.Prob8" lazy-init="true">
        <constructor-arg value="100" type="int"/>
        <constructor-arg value="90" type="int"/>
        <constructor-arg value="52" type="int"/>
    </bean>
    <!--    문제 9번-->
    <bean id = "p9" class = "kr.hs.study.beans.Prob9" lazy-init="true">
        <constructor-arg value="100" type="int"/>
        <constructor-arg value="90" type="int"/>
        <constructor-arg value="52" type="int"/>
        <constructor-arg value="21" type="int"/>
        <constructor-arg value="39" type="int"/>
    </bean>




</beans>